@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.header {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: minmax(100px, auto);
  background: url("../scss/head.jpg") no-repeat;
  background-size: 100% 100%;
  height: 693px;
  justify-items: center; }

.content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 3vw 0 0 4vw; }

.logo .logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 29.47px;
  letter-spacing: -3px; }

.nav-bar {
  padding-top: 10px; }
  .nav-bar .items-nav-bar {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 10.32px;
    padding-left: 35px; }
    .nav-bar .items-nav-bar a {
      text-decoration: none;
      color: #ffffff; }
    .nav-bar .items-nav-bar a:hover {
      color: #ffe26d; }

.text {
  grid-column: 1/3;
  color: #ffffff; }
  .text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40.69px; }
  .text p {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 19.16px;
    font-weight: lighter;
    padding-top: 35px; }

.button .button-list {
  text-decoration: none; }
  .button .button-list .button-couple {
    background: #ffe26d;
    border-radius: 5px;
    color: #000000;
    padding: 1vw 2vw;
    border: none;
    line-height: 9vw; }
  .button .button-list .button-couple:hover {
    background: #62497c;
    color: #ffffff; }

.main {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(30px, auto);
  justify-items: center;
  background: #fefefe; }
  .main .welcome {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-column: 2/3;
    border-bottom: 2px solid #e7e7e7;
    width: 90%; }
    .main .welcome .welcome-text {
      grid-column: 1/6;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 44.21px;
      text-align: center;
      padding-top: 60px; }
    .main .welcome .umbrella {
      grid-column: 1/3;
      grid-row: 2/3;
      padding-top: 90px; }
      .main .welcome .umbrella .text-umbrella {
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        font-size: 29.47px;
        letter-spacing: 9px; }
    .main .welcome .icone-umbrella {
      grid-column: 3/6;
      grid-row: 2/3;
      padding-top: 60px; }
      .main .welcome .icone-umbrella .img-umbrella {
        width: 187px;
        height: 195px; }

.icones {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 110px;
  grid-column: 1/6;
  padding: 60px 0; }
  .icones .bell {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 13.26px;
    line-height: 23.58px;
    color: #a8a8a8;
    text-align: center; }
    .icones .bell .list-icones > li {
      list-style: none;
      padding-top: 30px; }
    .icones .bell .text-h-item {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 14.74px;
      color: #62497c;
      text-align: center; }

.project h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 44.21px;
  text-align: center;
  padding-top: 60px; }
.project .project-item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(100px, auto);
  margin: 40px 0 40px 0;
  background: #efefef;
  justify-content: center; }
  .project .project-item .project-iamges {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 13.26px;
    line-height: 23.58px;
    color: #a8a8a8; }
    .project .project-item .project-iamges .text-project {
      text-align: center;
      padding: 40px 0 40px 0; }
      .project .project-item .project-iamges .text-project .text-project:hover {
        background: #ffe26d; }
      .project .project-item .project-iamges .text-project .text-h-project {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14.74px;
        color: black;
        padding-bottom: 10px; }
      .project .project-item .project-iamges .text-project .button-project {
        padding-top: 10px; }
        .project .project-item .project-iamges .text-project .button-project .button-list-project {
          text-decoration: none; }
          .project .project-item .project-iamges .text-project .button-project .button-list-project .button-couple-project {
            background: #ffe26d;
            border-radius: 5px;
            color: #000000;
            padding: 1vw 2vw;
            border: none;
            line-height: 9vw;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 10.32px; }
          .project .project-item .project-iamges .text-project .button-project .button-list-project .button-couple-project:hover {
            background: #62497c;
            color: #ffffff; }

.pricing-table {
  text-align: center;
  padding: 60px 0; }
  .pricing-table h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 44.21px;
    color: #000000; }
  .pricing-table .price {
    display: inline-block;
    padding: 60px 50px; }
    .pricing-table .price .standard-box {
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      font-size: 10.32px;
      line-height: 22.1px;
      color: #000000;
      text-align: center; }
      .pricing-table .price .standard-box .standard-list > li {
        list-style: none;
        padding-top: 30px; }
      .pricing-table .price .standard-box .standard-h-tree-item {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14.74px;
        color: #000000;
        text-align: center; }
      .pricing-table .price .standard-box .standard-h-four-item {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14.74px;
        color: #bababa; }
      .pricing-table .price .standard-box .standard-button .standard-anchor-button {
        text-decoration: none; }
        .pricing-table .price .standard-box .standard-button .standard-anchor-button .price-some-button {
          background: #ffe26d;
          border-radius: 5px;
          color: #000000;
          padding: 1vw 2vw;
          border: none;
          line-height: 9vw;
          padding: 10px 33px; }
        .pricing-table .price .standard-box .standard-button .standard-anchor-button .price-some-button:hover {
          background: #62497c;
          color: #ffffff; }

.video-project {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 44.21px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  background: #62497c;
  color: #fff;
  text-align: center;
  padding: 80px 0 100px 0; }
  .video-project h1 {
    grid-column: 1/6; }
  .video-project .video-project-container {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 35px;
    margin-top: 40px; }

.zippy-team {
  text-align: center;
  margin-bottom: 100px; }
  .zippy-team h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 44.21px;
    padding: 80px 0 45px; }
  .zippy-team a {
    text-decoration: none; }
  .zippy-team .zippy-team-top {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px; }
    .zippy-team .zippy-team-top p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 14.74px;
      font-weight: lighter;
      color: #bababa; }
    .zippy-team .zippy-team-top .zippy-team-item {
      line-height: 30px; }
  .zippy-team .zippy-team-bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
    .zippy-team .zippy-team-bottom p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 14.74px;
      font-weight: lighter;
      color: #bababa; }
    .zippy-team .zippy-team-bottom .zippy-team-item {
      line-height: 30px; }

.life-zippy {
  display: grid;
  grid-template-columns: repeat(1, auto);
  text-align: center;
  background: #efefef; }
  .life-zippy h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 44.21px;
    grid-column: 1/6;
    padding: 80px 0 45px; }
  .life-zippy .life-zippy-slideshow {
    grid-column: 1/6;
    margin: auto; }
    .life-zippy .life-zippy-slideshow .life-zippy-image {
      max-width: 95%; }
    .life-zippy .life-zippy-slideshow .life-zippy-arrow-link {
      background: #000; }
    .life-zippy .life-zippy-slideshow .life-zippy-arrow-link:hover {
      background: #fff; }
    .life-zippy .life-zippy-slideshow .life-zippy-slideshow-thumb {
      grid-column: 1/6;
      grid-row: 2/4;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-column-gap: 1%;
      list-style: none;
      margin-top: 15px; }

.newsletter-signup {
  display: grid;
  grid-template-columns: repeat(1, auto);
  text-align: center;
  background: url("../scss/newsletter.jpg") no-repeat;
  background-size: 100% 100%;
  height: 330px; }
  .newsletter-signup p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 44.21px;
    margin-top: 58px; }
  .newsletter-signup .email-newsletter-signup {
    width: 40%;
    height: 57px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-weight: lighter;
    font-size: 19.16px;
    padding-left: 15px;
    border: none;
    border-radius: 5px; }
  .newsletter-signup .email-newsletter-signup::placeholder {
    color: #d8d8d8; }
  .newsletter-signup .ancor-email-newsletter-signup {
    text-decoration: none; }
  .newsletter-signup .submit-newsletter-signup {
    background: #ffe26d;
    border-radius: 5px;
    color: #000000;
    padding: 1vw 2vw;
    border: none;
    line-height: 9vw;
    padding: 0 2%;
    position: absolute;
    left: 64.8%;
    height: 57px;
    border: none;
    border-radius: 0 5px 5px 0; }
  .newsletter-signup .submit-newsletter-signup:hover {
    background: #62497c;
    color: #ffffff; }

.blog {
  text-align: center;
  width: 100%; }
  .blog .p-blog {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 44.21px;
    margin: 70px 0 50px; }
  .blog .box-blog {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 85px; }
    .blog .box-blog .left {
      justify-self: right; }
    .blog .box-blog .center {
      justify-self: center; }
    .blog .box-blog .right {
      justify-self: left; }
    .blog .box-blog a {
      text-decoration: none; }
    .blog .box-blog h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 14.26px;
      text-transform: uppercase; }
    .blog .box-blog h5 {
      color: #b9b9b9; }
    .blog .box-blog p {
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      font-size: 13.26px;
      line-height: 23.58px;
      margin-bottom: 30px; }
    .blog .box-blog .button-blog {
      background: #ffe26d;
      border-radius: 5px;
      color: #000000;
      padding: 1vw 2vw;
      border: none;
      line-height: 9vw;
      background: #ececec; }
    .blog .box-blog .button-blog:hover {
      background: #ffe26d; }

.map {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  .map #googleMap {
    height: 655px;
    width: 100%; }
  .map .box-date {
    width: 100%;
    background: #ffe26d; }
    .map .box-date p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 44.21px;
      margin: 50px 0 0 45px; }
    .map .box-date .form-map {
      text-transform: uppercase;
      display: grid;
      grid-template-columns: repeat(1, 40%);
      margin-left: 45px; }
    .map .box-date input {
      height: 45px; }
    .map .box-date .message {
      height: 145px; }
    .map .box-date .submit-date {
      border: none;
      background: #62497c;
      color: #fff;
      padding: 0;
      height: 40px; }

.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(100px, auto);
  text-align: center; }
  .footer .footer-contet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column: 2/4;
    padding: 80px 0 130px 0; }
    .footer .footer-contet .footer-list {
      list-style: none;
      text-decoration: none; }
      .footer .footer-contet .footer-list .footer-social-item {
        padding-top: 10px; }
        .footer .footer-contet .footer-list .footer-social-item .social-link {
          text-decoration: none; }
        .footer .footer-contet .footer-list .footer-social-item .social-link > svg {
          margin: 16px 26px;
          fill: #000;
          height: 16px;
          width: 16px; }
        .footer .footer-contet .footer-list .footer-social-item .social-link > svg:hover {
          fill: #00ffff; }
      .footer .footer-contet .footer-list .footer-h-item {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 10.32px; }
      .footer .footer-contet .footer-list .footer-p-item {
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        font-size: 13.26px;
        line-height: 23.58px;
        padding-top: 20px; }
        .footer .footer-contet .footer-list .footer-p-item .footer-link {
          text-decoration: none;
          color: #000; }

@media screen and (max-width: 800px) {
  .box-blog {
    width: 100%; } }
@media screen and (max-width: 800px) {
  .image-left, .image-center, .image-right, .zippy-team-img {
    width: 95%; } }
@media screen and (max-width: 800px) {
  .form-map, .box-date {
    width: 150%; } }

/*# sourceMappingURL=style.css.map */
